<?xml version="1.0"?>
<config>
    <modules>
        <Ryaan_CategoryFilters>
            <version>1.0.0</version>
        </Ryaan_CategoryFilters>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <layer>Ryaan_CategoryFilters_Model_Layer</layer>
                </rewrite>
            </catalog>
            <enterprise_search>
                <rewrite>
                    <catalog_layer>Ryaan_CategoryFilters_Model_EnterpriseSearch_Layer</catalog_layer>
                </rewrite>
            </enterprise_search>
        </models>
        <resources>
            <categoryfilters_setup>
                <setup>
                    <module>Ryaan_CategoryFilters</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </categoryfilters_setup>
        </resources>
    </global>
</config>
